/* 
  list of system fonts taken from Stack Overflow
  see https://meta.stackexchange.com/questions/364048/we-are-switching-to-system-fonts-on-may-10-2021
*/
html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
}
code {
  font-family: ui-monospace,"Cascadia Mono","Segoe UI Mono","Liberation Mono",Menlo,Monaco,Consolas,monospace;
}


@media (min-resolution: 90dpi) {
  body {
    font-size: 14pt;
  }
}

body {
  max-width: 70ch;
  margin: 2em auto;
  padding: 1em;
}

a {
  color: blue;
}

pre {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1em;
  overflow: scroll;
}

:not(pre) > code {
  color: #D30;
}

a > code {
  color: inherit;
}

body > p, body > ul > li {
  line-height: 1.3em;
}

img {
  max-width: 100%;
}
