{{ define "subtitle" }}
    <p class="subtitle">{{ time.Format "January 2, 2006" .PublishDate }}</p>
{{ end }}


{{ define "main" }}
{{ if .Params.table_of_contents }}
{{ .TableOfContents }}
{{ end }}
<main>
{{ .Content }}
</main>
{{ end }}
