<!DOCTYPE html>
<html lang="{{ .Params.Lang | default "en" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    <link rel="stylesheet" href="/main.css" type="text/css" media="screen" charset="utf-8">
    {{ block "stylesheets" .}}{{ end }}

    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <!-- https://github.com/jmooring/hugo-testing/blob/9c9aa6b41/layouts/_default/baseof.html -->
    {{ $noop := .Content }}
    {{ if or (.HasShortcode "katex") (.Params.has_katex) }}
        {{ partial "katex.html" }}
    {{ end }}
</head>
<body>
    {{ block "header" . }}
    <header>
        {{ partial "breadcrumb" .Parent }}
        <h1>{{ .Title }}</h1>
        {{ block "subtitle" . }}{{ end }}
    </header>
    {{ end }}

    {{ block "main" . }}{{ end }}
</body>
</html>