{{ define "stylesheets" }}<link rel="stylesheet" href="/list.css" type="text/css" media="screen" charset="utf-8">{{end}}

{{ define "subtitle" }}
{{ with .OutputFormats.Get "rss" -}}
    <p class="subtitle"><a href="{{ .Permalink }}">RSS Feed</a></p>
{{ end -}}
{{ end }}

{{ define "main" }}
<ul class="article-listing">
    {{ range .Pages}}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <br>
            <span class="pubdate">{{ time.Format "January 2, 2006" .PublishDate }}</span>
        </li>
    {{ end }}
</ul>
{{ end }}