{{ define "stylesheets" }}
    <link rel="stylesheet" href="/list.css" type="text/css" media="screen" charset="utf-8">
{{end}}

{{ define "main" }}
    {{ .Content }}

    <ul class="article-listing">
        {{ range sort .Pages ".Date"}}
            <li>
                <a href="{{ .Permalink }}">
                    {{ if eq .Kind "page"}}
                        {{ .Title }}
                        <br>
                        <span class="pubdate">{{ .Params.author}}, {{ .Params.original_pub_info }}</span>
                    {{ else if eq .Kind "section" }}
                        <span>{{ .Title }} ({{ .Pages | len }} documents)</span>
                    {{ end }}
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}