{{ define "stylesheets" }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/digital-archive.css" type="text/css" media="screen" charset="utf-8">
{{end}}

{{ define "subtitle" }}
    <div class="pub-info">
        <p>{{ .Params.author }}</p>
        <p>{{ .Params.original_pub_info }}</p>
    </div>
{{ end }}

{{ define "main" }}
    <main>
        {{ .Content }}
    </main>
{{ end }}