{{/* adapted from https://dongheenam.info/posts/breadcrumb-navigation-in-hugo/ */}}
<nav class="breadcrumbs">
  {{ template "breadcrumbs" . }}
</nav>

{{ define "breadcrumbs" }}
  {{ if .Parent }}{{ template "breadcrumbs" .Parent }} /{{ end }}
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
{{ end }}