{{ define "header" }}
<header>
    <h1>Cédric Van Rompay</h1>
    <p class="subtitle">Software Engineer (full stack + cryptography + security) ─ Paris, France</p>
</header>
{{ end }}

{{ define "main"}}
<main>
    <p class="alert-main" lang="fr">
        2 février 2025 :
        publication de
        <a href="/science/decouverte-radioactivite-becquerel/">
            « La découverte de la radioactivité par Henri Becquerel »
        </a>
    </p>
    <p class="alert-main">
        October 11, 2024:
        publication of 
        <a href="/blog/aggregated-dependency-score/">
            “Aggregated Dependency Score: A Dependency Score that Includes Transitive Dependencies”
        </a>
    </p>
    <p>
        Since January 2022,
        I am working as a Security Engineer at
        <a href="https://www.datadoghq.com/">Datadog</a>
        in the “software integrity and trust” team.
        Some of my contributions can be seen in
        <a href="https://github.com/cedricvanrompay-datadog">my work GitHub account</a>.
    </p>
    <p>
        Before that,
        I had been working since April 2019 as a software engineer
        specialized in cryptography and cyber security in general
        at Misakey, a French startup which goal was to make
        an end-to-end encrypted platform for people to manage their personal data on the Web.
        See <a href="blog/a-year-and-a-half-of-end-to-end-encryption-at-misakey/">this article</a>
        for more details on my work at Misakey.
        Misakey closed in July 2021.
    </p>
    <p>
        From 2014 to 2018,
        I was a PhD student at <a href="https://www.eurecom.fr/">EURECOM</a>.
        My field of study was <a href="https://en.m.wikipedia.org/wiki/Cryptography">cryptography</a>,
        and my supervisors were <a href="https://www.eurecom.fr/en/people/molva-refik">Refik Molva</a>
        and <a href="https://www.eurecom.fr/en/people/onen-melek">Melek Önen</a>.
        See my PhD thesis, <i><a href="/phd-thesis">Multi-User Searchable Encryption</a></i>.
    </p>
    <p>
        Even before (2011-2014),
        I was an engineering student at <a href="https://www.telecom-paris.fr/">Télécom Paris</a>
        and <a href="https://www.eurecom.fr/">EURECOM</a>.
    </p>
    <p>
        You can find me on the Web on the following networks:
        <a href="https://www.linkedin.com/in/c%C3%A9dric-van-rompay-b60a4b140/">LinkedIn</a>,
        <a href="https://stackexchange.com/users/3628968/c%c3%a9dric-van-rompay">StackExchange</a> (StackOverflow etc
        &hellip;),
        <a href="https://github.com/cedricvanrompay">GitHub</a>,
        <a href="https://gitlab.com/cedricvanrompay">GitLab</a>,
        <a href="https://matrix.to/#/@cedricvanrompay:matrix.org">Matrix/Element Chat</a> (formerly Riot),
        <a href="https://twitter.com/cedricvanrompay">Twitter</a>.
    </p>

    <h2>Personal Side-Projects</h2>
    <p>
        A few projects I am working on on my free time:
    </p>
    <ul>
        <li>
            <a href="https://sempolda.fr">Sempolda</a>,
            a semantic search engine focused on news and politics.
        </li>
        <li>
            <a href="https://mogahan.fr">Mogahan</a>,
            a platform where you learn programming from the ground up by building your own search engine.
        </li>
    </ul>
    <p>
        You can see a more complete list of my personal projects, and their source code,
        on <a href="https://gitlab.com/cedricvanrompay">my GitLab.com profile</a>.
    </p>

    <p>
        I have a <a href="/blog">blog</a>, mostly about technical topics.
        I don't write a lot in it for the moment.
    </p>
    <p>
        I have a list of
        <a href="/likes">“things I like”</a>
        <i>(version française: <a href="/aime">une liste de choses que j'aime</a>)</i>
        if you're looking for nice content.
    </p>

    <p>
        I would like to start writing a bit of popular science content,
        so I started with
        <a lang="fr" href="math/une-demonstration-intuitive-du-theoreme-de-pythagore/">
            Une démonstration intuitive du théorème de Pythagore
        </a>
        (an intuitive proof of Pythagoras theorem — in French),
        and more recently
        <a lang="fr" href="/science/decouverte-radioactivite-becquerel/">
            « La découverte de la radioactivité par Henri Becquerel »
        </a>
        (the discovery of radioactivity by Henri Becquerel — in French as well),
        together with <a href="/archives-numérisées">the digitization of a few historical scientific documents</a>
        (in French also).
    </p>

    <h2>Activity</h2>

    <h3>Found Security Vulnerabilities</h3>
    <p>(that have been disclosed publicly)</p>
    <ul>
        <li>
            <a href="https://github.com/theupdateframework/go-tuf/security/advisories/GHSA-3633-5h82-39pq">
                Improper handling of different key IDs for the same public keys in attacker-controlled metadata
                in Go-TUF (September 2022)
            </a>
        </li>
        <li>
            <a href="https://github.com/ory/hydra/security/advisories/GHSA-3p3g-vpw6-4w66">
                A replay attack against ORY Hydra when using the “private_key_jwt” authentication method
                (April 2020)
            </a>
        </li>
    </ul>

    <h3>Other Open-Source Activity</h3>
    <ul>
        <li><a href="https://cedricvanrompay.gitlab.io/cryptopals/">
            My detailed writeup of (some of) the cryptopals challenges
        </a></li>
    </ul>

    <h3>Research Activity</h3>
    <p><i>I haven't been active in academia since 2019</i></p>

    <p>
        See <a href="/publications">the list of my academic publications</a>
        as well as <a href="https://dblp.uni-trier.de/pid/167/2471.html">my DBLP page</a>.
        I have been an invited reviewer for several conferences, including
        EUROCRYPT 2019, PETS 2019, ACNS 2018, ACSAC 2017, CANS 2017, SECRYPT 2017, ESORICS 2017, CANS 2016, ISC 2016,
        SECRYPT 2016.
    </p>


</main>
{{ end }}
