body {
    background-color: #fffaf0;
}

h1, h2, h3, h4, main, .pub-info {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #421;
}

a {
    color: #980b0b;
}

main p {
    line-height: 150%;
}

.pub-info { 
    margin-top: .2em;
    margin-bottom: 1em;
}

.pub-info p {
    margin: 0.1em;
}

table {
    margin-top: 3em;
    margin-bottom: 2em;
    max-width: 100%;
}

table caption {
    margin-bottom: 1em;
}