body {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
}

header h1 {
  margin-bottom: 0.1em;
}

ul.article-listing {
  list-style-type: none;
  padding-left: 0px;
  font-size: 120%;
  text-align: left;
  line-height: 1;
}

.article-listing li {
    padding: 0.4em 0em;
}

.article-listing .pubdate {
  margin-top: 0.5em;
  font-size: 66%;
}