body {
  margin:0px;
  margin-bottom: 3em;
  font-family: 'Fira Sans', sans-serif;
  color: #333;
  padding: 15px;
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  font-display: optional;
  src: url("/fonts/FiraSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("/fonts/FiraSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("/fonts/FiraSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-display: optional;
  src: url("/fonts/UbuntuMono-R.woff2") format("woff2");
}

@media (min-resolution: 90dpi) and (min-width: 500px) {
  body {
    font-size: 14pt;
  }
}

.jumbotron {
  background: #EEE;
  padding: 48px 0px;
  margin-bottom: 30px;
}

h2, h3 {
  color: black;
}

h1 {
  margin-top: 0.2em;
}

a {
  text-decoration: none;
  color: #1b5bc1;
}

a:hover {
  text-decoration: underline;
}

main > p, main > ul, main > ol, main > blockquote {
  text-align: justify;
  line-height: 1.4;
  hyphens: auto;
  -webkit-hyphens: auto;
}

blockquote {
  padding-left: 2em;
  padding-right: 2em;
  box-sizing: border-box;
}

main, #TableOfContents {
  max-width: 80ch;
  margin: auto;
}

main > * {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

main > .bleed, main > figure, main > pre {
  max-width: 100%
}

.table-of-contents {
  margin-top: 2em;
  margin-bottom: 2em;
}

#TableOfContents ul {
  list-style-type: none;
  padding-left: 0;
}

header {
  width: max-content;
  min-width: min(100%, 55ch);
  max-width: min(100%, 85ch);
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1.5em;

}

header h1 {
  margin-bottom: .2em;
}

header .subtitle {
  color: #555;
  margin-top: 0.4em;
}

figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

figure img, figure video {
  display: block;
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

figure figcaption {
  text-align: center;
  font-style: italic;
  font-size: 90%;
  opacity: 0.7;
}

.alert-main {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}


/* preformated */

pre, code {
  font-family: "Ubuntu Mono", monospace;
}

pre {
  overflow: scroll;
  background: #F4F4F4;
  color: #666;
  padding: 5px;
  border: 1px solid #DDD;
  line-height: 1.45;
  font-size: 90%;
}

pre code {
  white-space: pre;
}

:not(pre) > code {
  color: #D26;
}
